@font-face {
	font-family: "DavidsFont";
	src: url('../ressources/SedgwickAve-Regular.ttf');
}
body {
    background-color: #FFFDE7;
    user-select: none;
}
#mainContainer{
    margin: 0px 20vw 0px 20vw;
}

/* entete */
#banniere{
    width: 100%;
    box-shadow: 4px 4px 5px #CCCCCC;
}
header{
    position: relative;
}
#imgTitre, nav, #reseaux{
    position: absolute;
}
#imgTitre{
    top: 20%;
    right: 42%;
    width: 14vw;
}
#reseaux{
    font-size: 1.5em;
    top: 11vw;
    right: 45%;
}
#reseaux i{
    color: black;
    margin: 10px;
}
#card-fb{
    display: none;
}
nav a:hover #card-fb{
    /* position: absolute; */
    display: block;
}
/* .fb-post{
    position: absolute;
    display: block;
} */
/* ====================== Menu de navigation =================== */
nav{
    background-color: white;
    position: relative;
    width: 100%;
    box-shadow: 4px 4px 5px #CCCCCC;
    
}
nav a{
    color: black;
}
nav, ul, p{
    margin: 0px;
}
nav ul li{
    box-sizing: border-box;
    font-family: davidsFont;
    display: inline-block;
    width: 19%;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    
}
h1, h2{
    font-family: davidsFont;
}
nav i{
    color: white;
}

nav ul li:hover i{
    color: #FFD900;
    display: visible;
    
}

nav ul li:hover{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
/* ----- Bouton scroll -------- */
#mainContainer nav{
    scroll-behavior: smooth;
}
/* ================== Corps de la page ================ */
#corps{
    box-shadow: 4px 4px 5px #CCCCCC;
    background-image: url("../ressources/bg.png");
}
/* =================== DESCRIPTION ================= */
#description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    display: inline-block;
    margin: 0px 2% 0px 2%;
    padding: 10px;
    width: 97%;
}
#description p{
    display: inline-block;
    width: 50%;
    background-color: white;
    padding:10px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #CCCCCC ;
}
#description a{
    color: black;
}

#description img{
    display: inline-block;
    vertical-align: top;
    width: 20vw;
    margin: 0px 2vw 0px 2vw;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #CCCCCC;
}
/* =================== Notre Recette ================= */
#actus{
    margin-left: 25%;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #CCCCCC;
}
#actus h2{
    padding-top: 15px;
    text-align: center;
}
#actus .fb-post{
    margin-left:7%;
    margin-bottom: 15px;
}
/* ============ NOS PRODUCTEURS ======================= */
#producteur{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 95%;
    box-shadow: 4px 4px 5px #CCCCCC;
}
#producteur h1{
    text-align: center;
}
#producteur img{
    display: inline-block;
    width: 18vw;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 5px #CCCCCC;
}

#producteur img:hover{
    box-shadow: none;
    filter: invert(10%);
    cursor: pointer;  
}
#producteur p{
    display: inline-block;
    text-align: justify;
    width: 25vw;
    border-left: 1px black solid;
    padding: 10px;
    margin-top: 10%;
    vertical-align: top;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/*================ EVENEMENTS =================*/
#evenement h2{
    margin-left:35%;
}
/* ---------- Carrousel----------*/
.carousel-items {
    margin: 20px;
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    background-color: #F6EA00;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow:  4px 4px 5px #CCCCCC;
}
.carousel-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    margin-left: 1vw;
    list-style-type: none;
    background-color: #FFFDE7;
    border: solid black 1px;
    border-radius: 10px;
}
.carousel-item h2,.carousel-item iframe{
    margin-left: 20%;
}
.carousel-item p{
    margin: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

/*------------Tab mobile */
#evenement img{
    width: 25%;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #CCCCCC;
}
#tab_mobile{
    display: none;
}
/* =================== Formulaire ==================== */
#formulaire{
    padding: 10px;
    margin: 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #CCCCCC;
    text-align: center;
    font-family: davidsFont;
}
#name, #firstname, #email{
    border-bottom: 2px solid black;
    border-top: white solid 1px;
    border-right: white solid 1px;
    border-left: white solid 1px;
}
#name, #firstname, #email, #event-select, #case{
    margin-bottom:15px;
}
#name:hover, #firstname:hover, #email:hover{
    background-color: #FFD900;
    outline-style:none;
    box-shadow:2px 2px 5px #CCCCCC;
}
#name:focus, #firstname:focus, #email:focus{
    background-color: #FFD900;
    outline-style:none;
    box-shadow:2px 2px 5px #CCCCCC;
}
/* ======= FOOTER =========== */
footer{
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8;
}

/* ===== SCROLLBAR =========== */
::-webkit-scrollbar{
    background: #FFFDE7;
    width: 14px;
}
  
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px #FFFDE7;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb{
    background: #FFD900;
    border-radius: 40px;
}

/* =============== Responsive ============================ */
@media only screen and (max-width: 768px) {
    /* ===== CORPS =========== */

    #corps{
        box-shadow: none;
        background-image: url("../ressources/bg.png");
    }

    #mainContainer{
        margin: 0px 0px 0px 0px;
    }
    /* ====== Navigation ========= */

    #imgTitre{
        top: 20%;
        right: 42%;
        width: 25vw;
    }
    #banniere{
        box-shadow: none;
    }
    #reseaux{
        font-size: 1.5em;
        top: 15vw;
        right: 40%;
    }
    #reseaux i{
        color: black;
        margin: 10px;
    }
    /* =================== DESCRIPTION ================= */
    #description{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
        margin: 0px 0px 0px 0px;
        padding: 10px;
        width: 97%;
    }
    #description p{
        width: auto;
    }

    #description img{
        width: 45%;
        margin-top: 10px;
        margin-left: 30%;
    }
    /* ========= PRODUCTEUR =========== */
    #producteur p{
        width: auto;
        border: none;
        margin: 0px;
    }
    #producteur img{
        margin: 0px;
        margin-left: 35%;
        width: 35%;
    }

    /* ====== EVENEMENTS ============ */
    .carousel, nav{
        display: none;
    }
    #tab_mobile{
        display: inline-block;
        margin-left: 20%;
    }
    #tab_mobile tr{
        background-color: white;
        text-align: center;
        border: solid 1px black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .tab_gauche{
        padding: 10px;
    }
    #tab_mobile th{
        background-color: #F6EA00;
        font-family: davidsFont;
    }
  }
  @media only screen and (min-width: 769px) {
    #evenement img{
        display: none;
    }
}